/*entire app*/
body {
/*  overflow: hidden;//removes scrollbar*/
  max-height: fit-content;
  overflow: hidden;
}
.App {
  min-height: 100vh;
  background-color: #111111;
  color: whitesmoke;
}

/*header*/
.navbar {
  height: 90px;
/*  background-color: #113366;*/
  background-color: black;
  text-align: center;
}
.logo {
  height: 70px
}
.nav-item {
  font-size: larger;
}
.nav-item .nav-link {
  color: whitesmoke;
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-item .nav-link:hover,
.nav-item .nav-link:focus,
.nav-item .nav-link-active {
  color: whitesmoke;
  background-color: #222222;
}
.header-arrow {
  position: absolute;
  transform: translate3d(-6px, -7px, 0px);
  color: #222222;
}
/*header animations*/
@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: Logo-wiggle infinite .3s ease-out;
  }
}
@keyframes Logo-wiggle {
  from {
    transform: rotate(0deg)
  }
  30% {
    transform: rotate(-5deg)
  }
  70% {
    transform: rotate(5deg)
  }
  to {
    transform: rotate(0deg)
  }
}

/*home page*/
.home-page-container {
  max-width: 90%;
}
.page-button {
  height: 80px;
  margin: 4vh;
}
.page-button:hover {
  transform: scale3d(1.03, 1.1, 1);
}
.page-button-row .page-button,
.page-button-row .page-button:hover {
  color: black;
  font-weight: bolder;
}
.page-button-row .color-white {
  background-color: whitesmoke;
}
.page-button-row .color-cyan {
  background-color: cyan;
}
.page-button-row .color-magenta {
  background-color: magenta;
}
.page-button-row .color-yellow {
  background-color: yellow;
}
.page-button .row {
  width: inherit;
  transform: translateY(20%);
}
.page-button .col {
  font-size: x-large;
}
/*home page animations*/
@media (prefers-reduced-motion: no-preference) {
  .page-button:hover .fa-angle-right {
    animation: Arrow-icon-hover infinite 1s linear;
  }
  .page-button:active {
    animation: Page-button-on-press 1s linear;
  }
}
@keyframes Arrow-icon-hover {
  from {
    transform: translateX(0vmin);
  }
  to {
    transform: translateX(20vw);
  }
}
@keyframes Page-button-on-press {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(150vw);
  }
}

/*about page*/
.about-page-container {
  text-align: center;
  padding-top: 30px;
  max-height: calc(100vh - 90px);
}
.avatar, .lily {
  border-radius: 200px;
}
.avatar {
  width: 30vh;
  border-color: #113366;
  border-width: 0px;
  border-style: solid;
}
.about-page-container p {
  padding: 8vh 0vmin;
}
.about-page-container h3 {
  font-variant: small-caps;
  margin-bottom: 5vh;
}
.about-page-container h5 {
  font-weight: bold;
}
.about-page-container ul {
  text-align: left;
}
.lily {
  width: 20vh;
}
/*about page animations*/
@media (prefers-reduced-motion: no-preference) {
  .avatar {
    animation: Avatar-float-around infinite 15s ease-in-out;
  }
  .d-sm-flex .lily {
    animation: Lily-float-around infinite 20s ease-in-out;
  }
  .d-sm-none .lily {
    animation: Lily-spin infinite 20s linear;
  }
}
@keyframes Avatar-float-around {
  from {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(16vw);
  }
  to {
    transform: translateY(0vw);
  }
}
@keyframes Lily-float-around {
  from {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(20vw);
  }
  to {
    transform: translateY(0vw);
  }
}
@keyframes Lily-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*resume page*/
.resume-container {
  padding: 0px;
}
.resume-left-col {
  text-align: center;
  padding: 15vw 0vw;
}
.resume-container .download-button,
.resume-container .download-button:hover,
.resume-container .download-button:active {
  background-color: yellow;
  color: black;
  border: 0px;
  font-weight: bold;
  font-variant: small-caps;
  font-size: larger;
}
.resume-container .fas {
  margin-right: 10px;
}
.resume-img {
  max-height: 75vh;
  max-width: 90vw;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
}
/*resume page animations*/
@media (prefers-reduced-motion: no-preference) {
  .download-button:hover {
    animation: Download-button-hover infinite .3s ease-in-out;
  }
}
@keyframes Download-button-hover {
  from {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(-1vh);
  }
  to {
    transform: translateY(0vh);
  }
}

/*projects page*/
.projects-container {
  margin: 0px;
}
.project {
  height: 250px;
  width: calc(100% - 5vw);
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border: 3px solid grey;
  border-radius: 40px;
  background-color: #222222;
  color: whitesmoke;
}
.projects-container a:link {
 text-decoration: none; 
}
.project-cyan {
  border-color: cyan;
}
.project-cyan h4 {
  color: cyan;
}
.project-yellow {
  border-color: yellow;
}
.project-yellow h4 {
  color: yellow;
}
.project:hover {
  transform: scale3d(1.05, 1.05, 1);
}
.project h4 {
  text-align: center;
  font-variant: small-caps;
  margin-top: 15px;
}
.project-text {
  margin: 15px;
}
.project .d-block {
  font-size: medium;
  margin-top: -3px;
}
.project .d-sm-block {
  font-size: large;
}
.pixtronauts-img {
  position: relative;
  top: 25px;
}
@media (prefers-reduced-motion: no-preference) {
  .project:hover .jurassic-park-img {
    animation: Logo-wiggle infinite .3s ease-out;
  }
  .project:hover .pixtronauts-img {
    animation: Lily-spin infinite 5s linear;
  }
}

/*contact page*/
.contact-container h2 {
  text-align: center;
  font-variant: small-caps;
  border-bottom: 2px solid whitesmoke;
  margin-top: 10vh;
  margin-right: 10vw;
  margin-bottom: 5vh;
  margin-left: 10vw;
  padding-bottom: 2vh;
}
.contact-container ul {
  font-size: larger;
  list-style-type: none;
}
.contact-container li {
  margin-top: 5vh;
}
.contact-container .fas,
.contact-container .fab {
  margin-right: 3vh;
}
.contact-container a {
  color: cyan;
}
.contact-container a:hover {
  color: turquoise;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/