/*navbar*/
.navbar {
  background-color: #113366;
  text-align: center;
}
.nav {
  width: 100%;
}
.nav-item {
/*  margin: auto;*/
  font-size: larger;
  padding: 10px;
}
.nav-item .nav-link {
  color: whitesmoke;
  border-radius: 10px;
}
.nav-item .nav-link:hover, .nav-item .nav-link:focus {
  color: whitesmoke;
  background-color: #113399;
}

/*home page*/
.page-button {
  height: 80px;
  margin: 20px 0px;
}
.page-button .row {
  transform: translateY(40%);
}
.page-button .col {
  font-size: x-large;
}

/*about page*/
.about-page-container {
  text-align: center;
  padding-top: 30px;
}
.avatar, .lily {
  border-radius: 40vh;
}
.avatar {
  width: 30vh;
  border-color: #113366;
  border-width: 0px;
  border-style: solid;
}
.about-page-container p {
  padding: 15vmin 0vmin;
  font-size: larger;
}
.lily {
  width: 20vh;
}
/*about page animations*/
@media (prefers-reduced-motion: no-preference) {
  .avatar {
    animation: Avatar-float-around infinite 15s ease-in-out;
  }
  .lily {
    animation: Lily-float-around infinite 20s ease-in-out;
  }
}
@keyframes Avatar-float-around {
  from {
    transform: translate(0%, -8%);
  }
  50% {
    transform: translate(0%, 8%);
  }
  to {
    transform: translate(0%, -8%);
  }
}
@keyframes Lily-float-around {
  from {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(16%);
  }
  75% {
    transform: translateY(-16%);
  }
  to {
    transform: translateY(0%);
  }
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/