/*entire app*/
body {
/*  overflow: hidden;//removes scrollbar*/
}
.App {
  background-color: #111111;
  height: 100vh;
}

/*navbar*/
.navbar {
/*  background-color: #113366;*/
  background-color: black;
  text-align: center;
}
.logo {
  height: 70px
}
.nav-item {
  font-size: larger;
}
.nav-item .nav-link {
  color: whitesmoke;
  border-radius: 10px;
}
.nav-item .nav-link:hover, .nav-item .nav-link:focus {
  color: whitesmoke;
  background-color: #222222;
}
/*header animations*/
@media (prefers-reduced-motion: no-preference) {
  .logo:hover {
    animation: Logo-wiggle infinite .3s ease-out;
  }
}
@keyframes Logo-wiggle {
  from {
    transform: rotate(0deg)
  }
  30% {
    transform: rotate(-5deg)
  }
  70% {
    transform: rotate(5deg)
  }
  to {
    transform: rotate(0deg)
  }
}

/*home page*/
.home-page-container {
  margin: 60px;
  max-width: 90%;
}
.page-button {
  height: 80px;
  margin: 40px;
}
.page-button:hover {
  transform: scale3d(1.03, 1.1, 1);
}
.page-button-row .page-button,
.page-button-row .page-button:hover {
  color: black;
  font-weight: bolder;
}
.page-button-row .color-white {
  background-color: white;
}
.page-button-row .color-cyan {
  background-color: cyan;
}
.page-button-row .color-magenta {
  background-color: magenta;
}
.page-button-row .color-yellow {
  background-color: yellow;
}
.page-button .row {
  width: inherit;
  transform: translateY(20%);
}
.page-button .col {
  font-size: x-large;
}
/*home page animations*/
@media (prefers-reduced-motion: no-preference) {
  .page-button:hover .fa-angle-right {
    animation: Arrow-icon-hover infinite 1s linear;
  }
}
@keyframes Arrow-icon-hover {
  from {
    transform: translateX(0vmin);
  }
  to {
    transform: translateX(20vw);
  }
}

/*about page*/
.about-page-container {
  text-align: center;
  padding-top: 30px;
}
.avatar, .lily {
  border-radius: 40vh;
}
.avatar {
  width: 30vh;
  border-color: #113366;
  border-width: 0px;
  border-style: solid;
}
.about-page-container p {
  padding: 15vmin 0vmin;
  font-size: larger;
}
.lily {
  width: 20vh;
}
/*about page animations*/
@media (prefers-reduced-motion: no-preference) {
  .avatar {
    animation: Avatar-float-around infinite 15s ease-in-out;
  }
  .lily {
    animation: Lily-float-around infinite 20s ease-in-out;
  }
}
@keyframes Avatar-float-around {
  from {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(16vw);
  }
  to {
    transform: translateY(0vw);
  }
}
@keyframes Lily-float-around {
  from {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(20vw);
  }
  to {
    transform: translateY(0vw);
  }
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/